header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #424242d5;
}
ul{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

a:hover{
    color: #2f11d6;
    cursor: url("../cursor/ossoQ.svg"), auto;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 4px gray;


}
.logo{
    animation: fadeIn 1s ease-in forwards;
    width: 80px;
}
.img{
    width: 10%;
    height: auto;

}
.redes{
    width: 1.5rem;
    margin-right: 10px;
}
.logo:hover{
    animation: pulse 1s infinite;


}
.menu-icon{
    display: none;
    cursor: pointer;

}

.linha-menu-top, .linha-menu-bottom{
    background-color: white;
    height: 5px;
    width: 50px;
    margin-top: 10px;
}
.linha-menu-center{
    height: 5px;
    background-color: 42424224;
    width: 60px;
    margin-top: 10px;
    margin-left: -10px;
}