.menu-toggle{
    display: none;
}




@media (max-width: 768px){
    header{
        display: flex;
        justify-content: space-between;
    }
    .menu-icon{
        position: absolute;
        top: 15%;
        right: 5%;
        display: block;
        width: 30px;
        height: 30px;
        background-color: black;
        border-radius: 5px;
        cursor: pointer;
 
    }
    .linha-menu-center{
        display: block;
        width: 115%;
        height: 4px;
        background-color: #fff;
        margin: 5px 0;
    }
    .navbar-desktop{
        display: none;
        position: absolute;
        flex-direction: column;
        transition: transform 0.3s ease-in-out;
        transform: translateY(-100);
        opacity: 0;
        width: 100%;
        

    }
    .menu-toggle:checked ~ .navbar-desktop{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #4242425d;
        transition: all 0.3s ease;
        transform: translateY(0);
        opacity: 1;
        backdrop-filter: blur(10px);
        height: 100vh;
        
    }
    .menu-toggle:checked ~ .menu-icon .linha-menu-top{
        transform: translateY(9px) rotate(45deg);
        border-radius: 8px;
    }
    .menu-toggle:checked ~ .menu-icon .linha-menu-bottom{
        transform: translateY(0px) rotate(-45deg);
        border-radius: 5px;

    }
    .menu-toggle:checked ~ .menu-icon .linha-menu-center{
        display: none;
    }
    
    .linha-menu-top, .linha-menu-bottom{
        display: block;
        width: 100%;
        height: 4px;
        background-color: #fff;
        margin: 5px 0;
    }

    }
