:root{
    --cor-texto-primario: #424242;
    --cor-texto-securdario: rgb(141, 10, 10);
    --cor-de-fundo-primario: #f0f0f0;
    --cor-de-fundo-secundario: #4242425b;
    --fonte-principal: verdana, sans-serif;
    --espacamento: 1.5rem;
    --tamanho-fonte: 16px;






}